---
---

<footer class="pb-16 md:pb-20 px-4 text-center">
  <div class="max-w-[1200px] mx-auto">
    <h1 class="text-4xl text-neutral-700">
      Vi ser fram emot att fira med er!
    </h1>
  </div>
</footer>
