---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<h2 class="text-center text-3xl md:text-4xl font-normal text-neutral-900 mt-16 md:mt-20 mb-8 md:mb-12" style="font-weight: 400;">
  {title}
</h2>

